@import "tailwindcss";

@theme inline {
  --color-negro: #111111;
  --color-blanco: #FFFFFF;
  --color-rojo: #C8102E;
  --color-azul: #1A3A6B;
  --color-gris-borde: #E5E5E5;
  --color-gris-texto: #555555;
  --color-gris-muted: #999999;
}

body {
  background: #FFFFFF;
  color: #111111;
  font-family: 'DM Sans', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}
